body{
    background-color: black;
}


#seccionPeso {
    background-color: black;
    width: 100vw;
}

#imagenBarra{
    width: 100vw;
    height: 300px;
}

#botonUrano {
   
    
    

    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonNeptuno{
   
    
    
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonSaturno{
  

    

    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonMarte{
   
    
    
    
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonJupiter {
 
    
    
    
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonVenus{
   
    

    
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

.boton{
    background-color: blue;
    margin: 0px;
    padding: 20px;
    font-size: 20px;


}

.boton:hover{
    background-image: linear-gradient(to bottom, #320841, #3b011d, #2e0c01, #1e1200, #10100f);
cursor: pointer;
}

#parrafo{
    color: white;
    font-size: 15px;
    justify-content: center;
    text-align: center;
}


#botonMercurio {
   
    
    
    
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    
}

#botonResultado {
    background-color: black;
    
}

#cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    clip-path: circle(50% at center);
    width: 250px;
    height: 250px;
    background-color: darkgreen;
    animation-name: alcuadrado;
    animation-duration: 20s;
    animation-delay: 0s;
    position: relative;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#logo{
width: 40px;
height: 40px;
}



@keyframes alcuadrado{
    0% {background-color: rgb(212, 178, 11); left: 100px; top: -300px;}
    25% {background-color: black; left: 1000px; top: -300px;}
    50% {background-color: darkblue; left: 1000px; top: -150px}
    75% {background-color: black; left: 100px; top: -150px}
    100% {background: darkred; left: 100px; top: -50px}

}


#nada{
    background-color: black;
}

#escribe{
    background-color: darkblue;
}